.card-container {
    margin: 5px;
}

.card-inner-container {
    padding: 0 20px 0 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(35, 34, 34);
}

.card-container table {
    width: 100%;
}

.card-container td{
    padding: 10px 10px 10px 0;
    margin-right: 20px;
}

.label {
    display: flex;
    gap: 8px;
}

.label p {
    margin: 2px 0 0 0;
    flex: 1 1 auto;
}

.card-header {
    display: flex;
    justify-content: space-between;
}