.card-container.company {
    flex: 1 1 45vw;
}

.card-container.company .card-inner-container{
    height: 60vh;
}

.card-container.company td {
    height: 60px;
    padding: 0;
}

.card-container.company td:nth-child(odd){
    width: 100%;
}

.card-container.company td:nth-child(even){
    width: 60%;
    vertical-align: top;
}

.company-table p {
    margin: 0;
}